@{
    ViewData["Title"] = "Meeting Capture";
}

<div>
    <iframe style="position:fixed; left:0px; right:0px; width:100vw; height:95vh; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" src="https://web.powerapps.com/webplayer/iframeapp?source=website&screenColor=rgba(165,34,55,1)&appId=/providers/Microsoft.PowerApps/apps/1b6dd242-de0c-4b01-bc5a-53ff0f9f4596" allow="geolocation; microphone; camera" />
</div>