@{
    ViewData["Title"] = "Out of Office";
}
<div>
    <iframe style="position:fixed; left:0px; right:0px; width:100vw; height:95vh; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" src="https://web.powerapps.com/webplayer/iframeapp?source=website&screenColor=rgba(165,34,55,1)&appId=/providers/Microsoft.PowerApps/apps/f8ae1674-fa58-416a-a4c9-1d74ffbf33f0" allow="geolocation; microphone; camera" />
</div>

